<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="remplacement.css">
    <title>Confirmation</title>
</head>
<body>

    <header>
        <h1>Formulaire envoyé</h1>
    </header>

    <main>
        <p>Le formulaire a été envoyé avec les informations suivantes :</p>
        <ul>
            <li><strong>Créneau :</strong> {{ créneau }}</li>
            <li><strong>Classe :</strong> {{ classe }}</li>
            <li><strong>Matière :</strong> {{ matière }}</li>
        </ul>
    </main>

</body>
</html>
