{% extends 'base.html' %}

{% block title %}Se Connecter{% endblock %}

{% block content %}
    <div class="container pcpei">
        <h1 class="coco">Se Connecter</h1>
        <form action="/login" method="post">
            <!-- On supprime l'input login car la connexion se fait uniquement avec l'email -->
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="coco" required><br>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" class="coco" required><br>
            <button type="submit" class="coco">Se Connecter</button>
        </form>
        <p>L'email doit être valide (ex: exemple@email.com) !</p>
    </div>
{% endblock %}
